<div class="container">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <h1>Todo Angular 2+</h1>

      <div class="btn-group menu-group" role="group" aria-label="Menu">
        <a class="btn btn-outline-info" routerLink="/dashboard" routerLinkActive="active" appDropdownToggle>Dashboard</a>
        <a class="btn btn-outline-info" routerLink="/task/new">Add task</a>
        <a class="btn btn-outline-info" [routerLink]="['task', 123]">Random task</a>
      </div>

      <router-outlet></router-outlet>
    </div>
    <div class="col-sm"></div>
  </div>
</div>

